[user]
	email = yubing.wan@precisionformedicine.com
	name = Yubing Wan
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
[core]
	editor = \"/home/yubing_wan/Downloads/installs/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = input
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
[credential]
	helper = cache

[ghq] 
	root = ~/Workspace/git

